@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  font-family: 'Roboto', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }

  .card {

    .card-image {

      span {
        
        &.card-title {
          padding: 7px 24px;

          &.sh1 {
            width: 100%;
            font-size: 2rem;
            background-color: rgba(0, 0, 0, .5);

            span {
              transform: rotate(-17deg);
              display: inline-block;
              font-weight: 500;
            }
          }
        }
      } // end span
    }
  }

  .sh2 {
    text-shadow: 0 5px 5px #000000;
    font-weight: 800;
  }

  .card-content {

    li {
      padding: 5px 0;
    }
  }

  [type="radio"]:checked+span:before {
    border: 2px solid transparent;
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
      background-color: #388e3c;
    }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
      border: 2px solid #388e3c;
}
} // end body